
  .imogi{
    width: 50%;
    height: 56%;    
    position: absolute;
    right: 0;
    margin-top: -290px;
  }
  
  .logo{
    height:75px;
    width: 134px;
  }
  
  .main-image{
    background-color: black;
    height: 700px;
    width: 100%;
    margin-top: 35px;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
    padding:0 100px;
    margin-bottom: 2px;
    
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 14px;
    margin-top: 16px;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color:black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  
  p{
  color: red;
  margin-left: 200px;
  color: white;
  } 

  .section-div{
    margin-top: 100px;
    padding:0px 0px 0 540px
  }

  #section1{
    background-color: gainsboro;
  }

  .section-1-image{
    width: 62%;
    padding: 1.5%;
    margin-left: 4%;
  }

  .section-2-image{
    width: 30%;
    padding: 1%;
  }

